{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Rincón del Vicio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{% url 'bienvenida' %}">🎮 Rincón del Vicio</a>
        </div>

        <div class="navbar-links">
            {% if user.is_authenticated %}
                <a href="{% url 'tienda' %}">Tienda</a>
                <a href="{% url 'historial_compras' %}">Mis Compras</a>

                {% if perms.tienda.add_juego %}
                    <a href="{% url 'crear_juego' %}" class="btn-dev">⚙ Agregar Juego</a>
                {% endif %}
                {% if perms.tienda.add_categoria %}
                    <a href="{% url 'crear_categoria' %}" class="btn-dev">⚙ Agregar Categoría</a>
                {% endif %}

                <span class="navbar-user">
                    {% if user.foto %}
                        <img src="{{ user.foto.url }}" alt="{{ user.username }}" class="navbar-avatar">
                    {% else %}
                        <span class="navbar-avatar-placeholder">{{ user.username|first|upper }}</span>
                    {% endif %}
                    {{ user.username }}
                </span>
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'register' %}" class="btn-register">Registrarse</a>
            {% endif %}
        </div>
    </nav>

   
    <main class="contenido-principal">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% block contenido %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>&copy; 2026 Rincón del Vicio. Todos los derechos reservados y del grupo.</p>
    </footer>

</body>
</html>
